<div class="main-layout">
    <div class="right-container">
        <div class="progress-bar-container">
            <ul class="progress-bar">
                <li *ngFor="let step of steps; let i = index" [class.active]="i === currentStepIndex" (click)="setCurrentStep(step)">
                    <span>{{ step }}</span>
                </li>
            </ul>
        </div>
        <div class="form-container">




            <form *ngIf="currentStep === 'Contact'" [formGroup]="resumeForm" >
                <h1>Please enter your <span> contact info</span></h1>
                <p>It allows employers to see how they can contact you.</p>
                <div class="input-group">
                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Name</mat-label>
                        <input matInput type="name" placeholder="Name" formControlName="name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Status</mat-label>
                        <input matInput type="status" placeholder="Status" formControlName="status">
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field appearance="outline" class="adress-field">
                        <mat-label>Address</mat-label>
                        <input matInput type="address" placeholder="Address" formControlName="address">
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>City</mat-label>
                        <input matInput type="city" placeholder="City" formControlName="city">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Postal Code</mat-label>
                        <input matInput type="postalCode" placeholder="Postal Code" formControlName = "postalCode">
                    </mat-form-field>
                </div>
                
                <div class="input-group">
                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Phone</mat-label>
                        <input matInput type="phone" placeholder="Phone" formControlName="phone">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Email" formControlName="email">
                    </mat-form-field>
                </div>
                
                <button type="submit" class="next-button" (click)="updateContactData()"  >Next to Experience</button>
            </form>





            <form *ngIf="currentStep === 'Experience'" [formGroup]="experienceForm">
              <h1>Tell us about your <span>experience</span></h1>
              <p>Start with your recent job</p>
              <mat-accordion formArrayName="experiences" multi="true" class="experience-accordion">
                <mat-expansion-panel *ngFor="let experience of experiences.controls; let i = index" [formGroupName]="i" 
                                     (opened)="setActivePanel(i)" (closed)="setActivePanel(null)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ experience.get('jobTitle')?.value || 'Job Title'}} - {{ experience.get('employer')?.value || 'Employer' }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="input-group">
                    <mat-form-field appearance="outline" class="input-field">
                      <mat-label>Job Title</mat-label>
                      <input matInput placeholder="JOB TITLE" formControlName="jobTitle">
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" class="input-field">
                      <mat-label>Employer</mat-label>
                      <input matInput placeholder="EMPLOYER" formControlName="employer">
                    </mat-form-field>
                    </div>


                    <div class="input-group">
              
                      <mat-form-field appearance="outline" class="input-field">
                      
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startPicker" placeholder="Select Date" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                      </mat-form-field>
                
                      <mat-form-field appearance="outline" class="input-field">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endPicker" placeholder="Select Date" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                      </mat-form-field>
                
                      <mat-form-field appearance="outline" class="input-field">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="CITY" formControlName="city">
                      </mat-form-field>
  
                      </div>
                
                      <mat-form-field appearance="outline" class="description-field">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Write your work experience" formControlName="description"></textarea>
                      </mat-form-field>
              
                    <mat-action-row>
                      <button mat-icon-button color="warn" (click)="removeExperience(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>

                <div class="actions-container">
                  <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                  <span class="spacer"></span>
                  <button mat-raised-button color="primary" (click)="addExperience()" type="button">Add Experience</button> <!-- Buton pentru adăugare experiență -->
                  <button type="submit" class="next-button" (click)="updateExperienceData()">Next to Education</button>
              </div>

              </form>



              


              <form *ngIf="currentStep === 'Education'" [formGroup]="educationForm">
                <h1>Tell us about your <span>education</span></h1>
                <p>Start with your last diploma</p>
                <mat-accordion formArrayName="educations" multi="true" class="education-accordion">
                  <mat-expansion-panel *ngFor="let education of educations.controls; let i = index" [formGroupName]="i"
                                       (opened)="setActiveEducationPanel(i)" (closed)="setActiveEducationPanel(null)">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ education.get('degree')?.value || 'Degree' }} - {{ education.get('school')?.value || 'Institution' }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
              
                    <div class="input-group">
                        <mat-form-field appearance="outline" class="input-field">
                        <mat-label>School</mat-label>
                        <input matInput placeholder="SCHOOL" formControlName="school">
                      </mat-form-field>
              
                      <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Degree</mat-label>
                        <mat-select formControlName="degree">
                          <mat-option value="highschool">Highschool</mat-option>
                          <mat-option value="bachelors">Bachelor's</mat-option>
                          <mat-option value="masters">Master's</mat-option>
                          <mat-option value="doctorate">Doctorate</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
              
                  
                    <div class="input-group">
                      <mat-form-field appearance="outline" class="input-field">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startPicker" placeholder="Select start date" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="input-field">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endPicker" placeholder="Select end date" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    
              
                    <mat-action-row>
                      <button mat-icon-button color="warn" (click)="removeEducation(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
              
                <div class="actions-container">
                  <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                  <span class="spacer"></span>
                  <button mat-raised-button color="primary" (click)="addEducation()" type="button">Add Education</button> <!-- Buton pentru adăugare educație -->
                  <button type="submit" class="next-button" (click)="updateEducationData()">Next to Skills</button>
                </div>
              </form>





                <form *ngIf="currentStep === 'Skills'" [formGroup]="skillsForm"> 
                    <h1>Tell us about your <span>skills</span></h1>
                    <p>Start with the one you are most experienced at</p>
                    <div formArrayName="skills">
                      <div *ngFor="let skill of skills.controls; let i=index" [formGroupName]="i" class="skill-group">
                        <mat-form-field appearance="outline" class="input-field">
                          <mat-label>Skill</mat-label>
                          <input matInput placeholder="Type your skill here" formControlName="skillName">
                        </mat-form-field>
                       
                   
                        <mat-icon (click)="removeSkill(i)">delete</mat-icon> <!-- Trash icon for removing skill -->
                        
                      </div>
                    </div>
                    <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                    <span class="spacer"></span>
                    <button type="button" (click)="addSkill()">Add Skill</button>
                    
                    <button type="submit" class="next-button" (click)="updateSkillsData()">Next to About</button>

                    
                </form>

                <form *ngIf="currentStep === 'About'" [formGroup]="aboutForm">
                    <h1>Write down your professional <span>summary</span></h1>
                    <p>Include up to 3 sentences that describe your general experience</p>
                    
                    <mat-form-field appearance="outline" class="summary-field">
                      <mat-label>Summary</mat-label>
                      <textarea matInput placeholder="e.g. Accomplished Marketing Manager with expertise in developing campaigns, copywriting and advertising..." formControlName="summary"></textarea>
                    </mat-form-field>
                    
                    <!-- Optionally, add rich text editor controls here -->
                    
                    <div class="editor-controls">
                      <!-- Icons for B (bold), I (italic), U (underline), etc. -->
                    </div>
                  
                    <div class="button-container">
                        <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                        <button type="submit" class="next-button" (click)="updateAboutData()">Next to Finish</button>
                    </div>
                      
                </form>


                <div *ngIf="currentStep === 'Finish it'">
                  <mat-sidenav-container class="sidenav-container" style="height: 100vh;">
                   
                    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav" style="width: 60px;">
                      <mat-nav-list>
                        <a mat-list-item (click)="showSection('volunteering')">
                          <mat-icon>people</mat-icon>
                        </a>
                        <a mat-list-item (click)="showSection('projects')">
                          <mat-icon>library_books</mat-icon>
                        </a>
                        <a mat-list-item (click)="showSection('link')">
                          <mat-icon>link</mat-icon>
                        </a>
                        <a mat-list-item (click)="showSection('personalize')">
                          <mat-icon>view_day</mat-icon>
                        </a>
                      </mat-nav-list>
                    </mat-sidenav>
                    <mat-sidenav-content>

                      <div *ngIf="selectedSection === null" class="finish-step-content">
                        <h1>You're doing great! A few <span>final touches</span> and you're all set</h1>
                        <img src="assets/process4.png" alt="Process" class="process-image">
                    </div>
                      <div *ngIf="selectedSection === 'volunteering'">
                        <form  [formGroup]="volunteeringForm">
                          <h1>Tell us about your <span>volunteering</span></h1>
                          <p>Start with your most recent volunteering role</p>
                          <mat-accordion formArrayName="volunteerExperiences" multi="true" class="experience-accordion">
                              <mat-expansion-panel *ngFor="let volunteer of volunteerExperiences.controls; let i = index" [formGroupName]="i"
                                                   (opened)="setActivePanel(i)" (closed)="setActivePanel(null)">
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>
                                          {{ volunteer.get('role')?.value || 'Volunteer Role'}} - {{ volunteer.get('organization')?.value || 'Organization' }}
                                      </mat-panel-title>
                                  </mat-expansion-panel-header>
                      
                                  <div class="input-group">
                                      <mat-form-field appearance="outline" class="input-field">
                                          <mat-label>Role</mat-label>
                                          <input matInput placeholder="Volunteer Role" formControlName="role">
                                      </mat-form-field>
                      
                                      <mat-form-field appearance="outline" class="input-field">
                                          <mat-label>Organization</mat-label>
                                          <input matInput placeholder="Organization Name" formControlName="organization">
                                      </mat-form-field>
                                  </div>
                      
                                  <div class="input-group">
                                    <mat-form-field appearance="outline" class="input-field">
                                      <mat-label>Start Date</mat-label>
                                      <input matInput [matDatepicker]="startPickerRef" placeholder="Select Start Date" formControlName="startDate">
                                      <mat-datepicker-toggle matSuffix [for]="startPickerRef"></mat-datepicker-toggle>
                                      <mat-datepicker #startPickerRef="matDatepicker"></mat-datepicker>
                                    </mat-form-field>
                                    
                                    <mat-form-field appearance="outline" class="input-field">
                                      <mat-label>End Date</mat-label>
                                      <input matInput [matDatepicker]="endPickerRef" placeholder="Select End Date" formControlName="endDate">
                                      <mat-datepicker-toggle matSuffix [for]="endPickerRef"></mat-datepicker-toggle>
                                      <mat-datepicker #endPickerRef="matDatepicker"></mat-datepicker>
                                    </mat-form-field>
                                    
                                      <mat-form-field appearance="outline" class="input-field">
                                          <mat-label>City</mat-label>
                                          <input matInput placeholder="City" formControlName="city">
                                      </mat-form-field>
                                  </div>
                      
                                  <mat-form-field appearance="outline" class="description-field">
                                      <mat-label>Description</mat-label>
                                      <textarea matInput placeholder="Describe your volunteering activities" formControlName="description"></textarea>
                                  </mat-form-field>
                      
                                  <mat-action-row>
                                      <button mat-icon-button color="warn" (click)="removeVolunteerExperience(i)">
                                          <mat-icon>delete</mat-icon>
                                      </button>
                                  </mat-action-row>
                              </mat-expansion-panel>
                          </mat-accordion>
                      
                          <div class="actions-container">
                              <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                              <span class="spacer"></span>
                              <button mat-raised-button color="primary" (click)="addVolunteerExperience()" type="button">Add Volunteering</button>
                              <button type="submit" class="next-button" (click)="updateVolunteeringData()">Finish</button>

                          </div>
                      </form>
                      
                      </div>
      
                      <div *ngIf="selectedSection === 'projects'">
                        <form [formGroup]="projectsForm">
                            <h1>Tell us about your <span>projects</span></h1>
                            <p>Start with your most significant projects</p>
                            <mat-accordion formArrayName="projectExperiences" multi="true" class="experience-accordion">
                                <mat-expansion-panel *ngFor="let project of projectExperiences.controls; let i = index" [formGroupName]="i">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{ project.get('projectName')?.value || 'Project Name'}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                    
                                    <div class="input-group">
                                        <mat-form-field appearance="outline" class="input-field">
                                            <mat-label>Project Name</mat-label>
                                            <input matInput placeholder="Project Name" formControlName="projectName">
                                        </mat-form-field>
                    
                                        <mat-form-field appearance="outline" class="input-field">
                                            <mat-label>Technologies Used</mat-label>
                                            <input matInput placeholder="Technologies Used" formControlName="technologiesUsed">
                                        </mat-form-field>
                                    </div>
                    
                                    <div class="input-group">
                                      <mat-form-field appearance="outline" class="input-field">
                                        <mat-label>Start Date</mat-label>
                                        <input matInput [matDatepicker]="startPicker" placeholder="Select Start Date" formControlName="startDate">
                                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startPicker="matDatepicker"></mat-datepicker>
                                      </mat-form-field>
                                      
                                      <mat-form-field appearance="outline" class="input-field">
                                        <mat-label>End Date</mat-label>
                                        <input matInput [matDatepicker]="endPicker" placeholder="Select End Date" formControlName="endDate">
                                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #endPicker="matDatepicker"></mat-datepicker>
                                      </mat-form-field>
                                      
                                    </div>
                    
                                    <mat-form-field appearance="outline" class="description-field">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput placeholder="Describe the project, your role, and the outcome" formControlName="description"></textarea>
                                    </mat-form-field>
                    
                                    <mat-action-row>
                                        <button mat-icon-button color="warn" (click)="removeProjectExperience(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-action-row>
                                </mat-expansion-panel>
                            </mat-accordion>
                    
                            <div class="actions-container">
                                <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                                <span class="spacer"></span>
                                <button mat-raised-button color="primary" (click)="addProjectExperience()" type="button">Add Project</button>
                                <button type="submit" class="next-button" (click)="updateProjectsData()">Finish</button>

                            </div>
                        </form>
                    </div>



                    <div *ngIf="selectedSection === 'link'">
                      <form [formGroup]="linksForm">
                        <h1>Add Your <span>Links</span></h1>
                        <p>Manage your website and social links here.</p>
                        <mat-accordion formArrayName="linkEntries" multi="true" class="link-accordion">
                          <mat-expansion-panel *ngFor="let link of linkEntries().controls; let i = index" [formGroupName]="i">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{ link.get('label')?.value || 'No Label Specified' }}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                    
                            <div class="input-group">
                              <mat-form-field appearance="outline" class="input-field">
                                <mat-label>Label</mat-label>
                                <input matInput placeholder="Label for the link" formControlName="label">
                              </mat-form-field>
                    
                              <mat-form-field appearance="outline" class="input-field">
                                <mat-label>URL</mat-label>
                                <input matInput placeholder="Enter URL" formControlName="url">
                              </mat-form-field>
                            </div>
                    
                            <mat-action-row>
                              <button mat-icon-button color="warn" (click)="removeLink(i)">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </mat-action-row>
                          </mat-expansion-panel>
                        </mat-accordion>
                    
                        <div class="actions-container">
                          <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                          <span class="spacer"></span>
                          <button mat-raised-button color="primary" (click)="addLink()" type="button">Add Link</button>
                          <button type="submit" class="next-button" (click)="updateLinksData()">Finish</button>

                        </div>
                      </form>
                    </div>


                    <div *ngIf="selectedSection === 'personalize'">
                      <form [formGroup]="customSectionForm">
                          <mat-accordion formArrayName="customSections" multi="true" class="custom-section-accordion">
                              <mat-expansion-panel *ngFor="let section of customSections.controls; let i = index" [formGroupName]="i">
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>
                                          {{ section.get('title')?.value || 'Custom Section' }}
                                      </mat-panel-title>
                                  </mat-expansion-panel-header>
                  
                                  <div class="input-group">
                                      <mat-form-field appearance="outline" class="input-field">
                                          <mat-label>Title</mat-label>
                                          <input matInput placeholder="Title of the section" formControlName="title">
                                      </mat-form-field>
                  
                                      <mat-form-field appearance="outline" class="input-field">
                                          <mat-label>Description</mat-label>
                                          <textarea matInput placeholder="Description of the section" formControlName="description"></textarea>
                                      </mat-form-field>
                                  </div>
                  
                                  <mat-action-row>
                                      <button mat-icon-button color="warn" (click)="removeCustomSection(i)">
                                          <mat-icon>delete</mat-icon>
                                      </button>
                                  </mat-action-row>
                              </mat-expansion-panel>
                          </mat-accordion>
                  
                          <div class="actions-container">
                              <button mat-stroked-button (click)="goToPreviousStep()">Back</button>
                              <span class="spacer"></span>
                              <button mat-raised-button color="primary" (click)="addCustomSection()" type="button">Add Section</button>
                              <button type="submit" class="next-button" (click)="updateCustomSectionsData()">Finish</button>

                          </div>
                      </form>

                      
                  </div>
                  
                    
                    
                  </mat-sidenav-content>
                  </mat-sidenav-container>
                </div>
                
                
                <div *ngIf="currentStep === 'Save'" class="end-step-container">
                  <div class="finish-message">
                      <p class="congratulations-text">
                          Congratulations! Now that you have completed all the steps, you can <span>save your entire CV</span> by pressing the button below.<br> This way, your information will be securely stored.
                      </p>
                      <button class="button-save" (click)="onSaveResume()">Save Resume</button> <!-- Save Resume button -->

                  </div>
              </div>
              
              


                

        
        
    </div>

    <div class="cv-preview-container">
      <app-template-cv></app-template-cv>
    </div>
</div>
</div>

