<app-sidebar></app-sidebar>

<img src="/assets/register.png" alt="background-image" class="background-image">

<div class="background-overlay">
    <p class="welcome-text">Welcome!<br><br>Make the most of your professional life</p>

    <div class="text-container">

       
          
        <h1 class="custom-header">Navigate your <br> <b>Digital Workspace</b> in</h1>
        <p class="custom-paragraph">Dive into a curated digital portfolio that showcases your professional journey.<br> From vibrant design projects to innovative tech solutions, discover the work <br> that makes you stand out.</p>
        <button class="custom-button get-started" routerLink="/settings">Get Started</button>
        <button class="custom-button demo-button">See Demo</button>

    </div>
</div>
