/* Fonts */

/* Family */
h1 { 
  font-family: 'Julius Sans One', sans-serif;
}

h2 { /* Contact, Skills, Education, About me, Work Experience */
  font-family: 'Archivo Narrow', sans-serif;
}

h3 { /* Accountant */
  font-family: 'Open Sans', sans-serif;
}

.jobPosition span, 
.projectName span {
  font-family: 'Source Sans Pro', sans-serif;
}

.upperCase {
  text-transform: uppercase; 
}

.smallText, 
.smallText span, 
.smallText p, 
.smallText a {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}

/* End Family */

/* Colors */
h1 { 
  color: #111; 
}

.leftPanel, 
.leftPanel a {
  color: #bebebe;
  text-decoration: none;
}

.leftPanel h2 {
  color: white;
}

/* End Colors */

/* Sizes */
h1 { 
  font-weight: 300; 
  font-size: 1.2cm;
  transform:scale(1,1.15); 
  margin-bottom: 0.2cm;
  margin-top: 0.2cm;
  text-transform: uppercase; 
}

h2 {
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}

.leftPanel, 
.leftPanel a {
  font-size: 0.38cm;
}

.projectName span, 
.jobPosition span {
  font-size: 0.35cm;
}

.smallText, 
.smallText span, 
.smallText p, 
smallText a {
  font-size: 0.35cm;
}

.leftPanel .smallText, 
.leftPanel .smallText, 
.leftPanel .smallText span, 
.leftPanel .smallText p, 
.smallText a {
  font-size: 0.45cm;
}

.contactIcon {
  width: 0.5cm;
  text-align: center;
}

p {
  margin-top: 0.05cm;
  margin-bottom: 0.05cm;
}
/* End Sizes */

.bolded {
  font-weight: bold;
}

.white {
  color: white;
}
/* End Fonts */

/* Layout */
body {
  background: rgb(204,204,204); 
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
}

/* Printing */
.page-wrapper {
  width: 210mm;
  min-height: 297mm;
  margin: 10mm auto;
  background: white;
  box-shadow: 0 0 5mm rgba(0, 0, 0, 0.1);
  padding: 20mm;
  overflow: hidden;
  position: relative;
  page-break-after: always;
}

@media print {
  .page-wrapper {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
  }
}

@page {
   size: 21cm 29.7cm;
   padding: 0;
   margin: 0mm;
   border: none;
   border-collapse: collapse;
}
/* End Printing */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftPanel {
  width: 27%;
  background-color: #484444;
  padding: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bebebe;
  text-decoration: none;
}

.rightPanel {
  width: 73%;
  padding: 0.7cm;
}

.leftPanel img {
  width: 4cm;
  height: 4cm;
  margin-bottom: 0.7cm;
  border-radius: 50%;
  border: 0.15cm solid white;
  object-fit: cover;
  object-position: 50% 50%;
}

.leftPanel .details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Contact Section */
.leftPanel .details .smallText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.leftPanel .details .smallText p, 
.leftPanel .details .smallText a {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.leftPanel .details .smallText mat-icon {
  margin-right: 10px;
  font-size: 1em;
}

.leftPanel .details .smallText .link-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.leftPanel .details .smallText .link-item mat-icon {
  margin-right: 10px;
  font-size: 1em;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomLineSeparator {
  border-bottom: 0.05cm solid white;
}

.yearsOfExperience {
  width: 1.6cm;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alignleft {
  text-align: left !important;
  width: 1cm;
}

.alignright {
  text-align: right !important;
  width: 0.6cm;
  margin-right: 0.1cm
}

.workExperience>ul {
  list-style-type: none;
  padding-left: 0;
}

.workExperience>ul>li {
  position: relative;
  margin: 0;
  padding-bottom: 0.5cm;
  padding-left: 0.5cm;
}

.workExperience>ul>li:before {
  background-color: #b8abab;
  width: 0.05cm;
  content: '';
  position: absolute;
  top: 0.1cm;
  bottom: -0.2cm; /* change this after border removal */
  left: 0.05cm;
}

.workExperience>ul>li::after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3C/circle%3E");
  background-repeat: no-repeat;
  background-size: contain;
  left: -0.09cm;
  top: 0;
  width: 0.35cm;
  height: 0.35cm;
}

.jobPosition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  padding-bottom: 0.7cm;
  padding-top: 0.7cm;
}

.item h2{
  margin-top: 0;
}

.lastParagrafNoMarginBottom {
  margin-bottom: 0;
}

.workExperience>ul>li ul {
  padding-left: 0.5cm;
  list-style-type: disc;
}
/*End Layout*/

/* Additional styles */
.timeline-content, .education-entry, .project-item, .custom-section {
  margin-bottom: 15px;
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-period, .project-date, .dates-and-city {
  margin-left: 10px; /* Adaugă un spațiu între titlul jobului și perioadă */
  white-space: nowrap; /* Previne împărțirea pe linii noi */
  color: #6e6e6e; /* Culoare pentru perioada de job */
}

.timeline-content h3, .timeline-content h4, .project-header h3 {
  margin: 0;
}

.timeline-content p {
  margin-top: 5px;
}

.volunteer-header, .project-header, .custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date, .city {
  display: inline-block;
}

.timeline {
  position: relative;
  padding-left: 0px; /* align with the timeline icons */
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px; /* adjust to center line with icons */
  width: 2px;
  background: #b8abab; /* line color */
}

.timeline-item {
  position: relative;
  padding-bottom: 20px; /* spacing between items */
}

.timeline-icon {
  position: absolute;
  left: -15px; /* center horizontally with the timeline */
  top: 0; /* align with the title of the job position */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid gray; /* match your icon color */
  z-index: 100;
}

.timeline-content {
  margin-left: 20px; /* adjust as needed for content indentation */
  padding-top: 2px; /* adjust as needed for alignment */
}

h3, h4 {
  margin: 0; /* remove default margins */
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px; /* space above bullet list */
}

li:before {
  content: '•'; /* bullet character */
  color: #111; /* bullet color */
  font-weight: bold;
  display: inline-block; 
  width: 1em; /* space for bullet */
  margin-left: -1em; /* negative margin to align bullets */
}

.skills {
  display: block;
  margin-top: 10px; /* space above skills list */
}

@media (max-width: 768px) {
  .timeline:before {
    left: 0; /* Adjust for small screens */
  }

  .timeline-item:before {
    left: -6px; /* Adjust for small screens */
  }
}

/* Adding break points for print layout */
@media print {
  .page-break {
    page-break-before: always;
  }
}
@page {
  size: A4;
  margin: 10mm; // Ajustează marginile după cum este necesar
}

@media print {
  .page-wrapper {
    box-shadow: none;
    margin: 0;
    page-break-before: always;
  }

  .leftPanel, .rightPanel, .item {
    page-break-inside: avoid;
  }

  .leftPanel {
    margin-right: 10px; // Ajustează spațierea
  }

  .rightPanel {
    margin-left: 10px; // Ajustează spațierea
  }

  .item {
    padding-bottom: 10px; // Ajustează spațierea
  }

  p, h1, h2, h3, h4 {
    margin: 5px 0; // Ajustează marginile
  }

  ul {
    margin: 5px 0; // Ajustează marginile
    padding-left: 20px; // Ajustează indentarea
  }

  li {
    margin-bottom: 5px; // Ajustează spațierea între elemente
  }
}
