
h1 { 
  font-family: 'Julius Sans One', sans-serif;
}

h2 { 
  font-family: 'Archivo Narrow', sans-serif;
}

h3 { 
  font-family: 'Open Sans', sans-serif;
}

.jobPosition span, 
.projectName span {
  font-family: 'Source Sans Pro', sans-serif;
}

.upperCase {
  text-transform: uppercase; 
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 10%; 
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}


.modal-content {
    width: 90%; 
    max-width: 600px; 
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-image {
    width: 100%; 
    max-height: 400px; 
    object-fit: cover; 
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    margin-top: 20px; 
}

.modal-buttons button {
    padding: 10px 20px; 
    border: none;
    background-color: #007BFF; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
}

.modal-buttons button:hover {
    background-color: #0056b3; 
}


.smallText, 
.smallText span, 
.smallText p, 
.smallText a {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
}


h1 { 
  color: #111; 
}

.leftPanel, 
.leftPanel a {
  color: #bebebe;
  text-decoration: none;
}

.leftPanel h2 {
  color: white;
}


h1 { 
  font-weight: 300; 
  font-size: 1.2cm;
  transform:scale(1,1.15); 
  margin-bottom: 0.2cm;
  margin-top: 0.2cm;
  text-transform: uppercase; 
}

h2 {
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}

.leftPanel, 
.leftPanel a {
  font-size: 0.38cm;
}

.projectName span, 
.jobPosition span {
  font-size: 0.35cm;
}

.smallText, 
.smallText span, 
.smallText p, 
smallText a {
  font-size: 0.35cm;
}

.leftPanel .smallText, 
.leftPanel .smallText, 
.leftPanel .smallText span, 
.leftPanel .smallText p, 
.smallText a {
  font-size: 0.45cm;
}

.contactIcon {
  width: 0.5cm;
  text-align: center;
}

p {
  margin-top: 0.05cm;
  margin-bottom: 0.05cm;
}

.bolded {
  font-weight: bold;
}

.white {
  color: white;
}

body {
  background: rgb(204,204,204); 
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
}


.page-wrapper {
  width: 180mm;
  min-height: 297mm;
  margin: 10mm auto;
  background: white;
  box-shadow: 0 0 5mm rgba(0, 0, 0, 0.1);
  padding: 20mm;
  overflow: hidden;
  position: relative;
  page-break-after: always;
}

@media print {
  .page-wrapper {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
  }
}

@page {
   size: 21cm 29.7cm;
   padding: 0;
   margin: 0mm;
   border: none;
   border-collapse: collapse;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-left: -15mm;
  margin-top: -25mm;
}

.leftPanel {
  width: 27%;
  background-color: #484444;
  padding: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bebebe;
  text-decoration: none;
}

.rightPanel {
  width: 73%;
  padding: 0.7cm;
}

.leftPanel img {
  width: 4cm;
  height: 4cm;
  margin-bottom: 0.7cm;
  border-radius: 50%;
  border: 0.15cm solid white;
  object-fit: cover;
  object-position: 50% 50%;
}

.leftPanel .details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.leftPanel .details .smallText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.leftPanel .details .smallText p, 
.leftPanel .details .smallText a {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.leftPanel .details .smallText mat-icon {
  margin-right: 10px;
  font-size: 1em;
}

.leftPanel .details .smallText .link-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.leftPanel .details .smallText .link-item mat-icon {
  margin-right: 10px;
  font-size: 1em;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomLineSeparator {
  border-bottom: 0.05cm solid white;
}

.yearsOfExperience {
  width: 1.6cm;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alignleft {
  text-align: left !important;
  width: 1cm;
}

.alignright {
  text-align: right !important;
  width: 0.6cm;
  margin-right: 0.1cm
}

.workExperience>ul {
  list-style-type: none;
  padding-left: 0;
}

.workExperience>ul>li {
  position: relative;
  margin: 0;
  padding-bottom: 0.5cm;
  padding-left: 0.5cm;
}

.workExperience>ul>li:before {
  background-color: #b8abab;
  width: 0.05cm;
  content: '';
  position: absolute;
  top: 0.1cm;
  bottom: -0.2cm; 
  left: 0.05cm;
}

.workExperience>ul>li::after {
  content: '';
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3C/circle%3E");
  background-repeat: no-repeat;
  background-size: contain;
  left: -0.09cm;
  top: 0;
  width: 0.35cm;
  height: 0.35cm;
}

.jobPosition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  padding-bottom: 0.7cm;
  padding-top: 0.7cm;
}

.item h2{
  margin-top: 0;
}

.lastParagrafNoMarginBottom {
  margin-bottom: 0;
}

.workExperience>ul>li ul {
  padding-left: 0.5cm;
  list-style-type: disc;
}

.timeline-content, .education-entry, .project-item, .custom-section {
  margin-bottom: 15px;
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-period, .project-date, .dates-and-city {
  margin-left: 10px;
  white-space: nowrap; 
  color: #6e6e6e; 
}

.timeline-content h3, .timeline-content h4, .project-header h3 {
  margin: 0;
}

.timeline-content p {
  margin-top: 5px;
}

.volunteer-header, .project-header, .custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date, .city {
  display: inline-block;
}

.timeline {
  position: relative;
  padding-left: 0px;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px; 
  width: 2px;
  background: #b8abab; 
}

.timeline-item {
  position: relative;
  padding-bottom: 20px;
}

.timeline-icon {
  position: absolute;
  left: -15px;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid gray; 
  z-index: 100;
}

.timeline-content {
  margin-left: 20px; 
  padding-top: 2px;
}

h3, h4 {
  margin: 0; 
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px; 
}

li:before {
  content: '•'; 
  color: #111; 
  font-weight: bold;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

.skills {
  display: block;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .timeline:before {
    left: 0; 
  }

  .timeline-item:before {
    left: -6px;
  }
}


@media print {
  .page-break {
    page-break-before: always;
  }
}
@page {
  size: A4;
  margin: 10mm; 
}

@media print {
  .page-wrapper {
    box-shadow: none;
    margin: 0;
    page-break-before: always;
  }

  .leftPanel, .rightPanel, .item {
    page-break-inside: avoid;
  }

  .leftPanel {
    margin-right: 10px; 
  }

  .rightPanel {
    margin-left: 10px;
  }

  .item {
    padding-bottom: 10px; 
  }

  p, h1, h2, h3, h4 {
    margin: 5px 0; 
  }

  ul {
    margin: 5px 0;
    padding-left: 20px; 
  }

  li {
    margin-bottom: 5px; 
  }
}