
  .cv-container {
    width: 200px;  
    height: 300px; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
    background: white;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    padding: 2px; 
    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.about {
    background: #ffffff;
    border-radius: 15px;
    padding: 0px;  
    font-size: 3px;  
    max-width: 200px; 
    max-height: 50px;  
    margin: auto;  
    color: #333;  
    border: 2px solid #507d95; 
    position: relative;  
    overflow: visible;  
    margin-bottom: 2px;  
}

.nameAndStatus {
    font-size: 4px; 
    width: 50px;  
    height: auto; 
    background-color: white;  
    border-radius: 10px 10px 0 0;  
    padding: 1px;  
    position: absolute;  
    top: 2px;  
    left: 50%;  
    transform: translateX(-50%);  
    color: black;  
    z-index: 10;  
    display: flex; 
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    margin: 0;  
    line-height: 1;  
}

.nameAndStatus h1, .nameAndStatus h2 {
    font-size: 4px; 
    margin: 0;  
    padding: 0;  
    line-height: 1;  
}


.about h1, .about h2 {
    margin: 0; 
}

.summary {
    margin-top: -10px;
    font-size: 4px;
    line-height: 1.6;
    text-align: justify;
    position: relative; 
    padding-top: 30px; 
}

.contact-info {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    padding: 2px;
    background-color: #507d95;
    color: white;
    width: 100%; 
    height: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%); 
    margin-top: 2px;
    margin-bottom: 2px; 
}

.contact-info > * {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 3px;
}

.contact-info mat-icon {
    margin-right: 2px; 
}

.contact-info a {
    text-decoration: none;
    color: white;
}

.contact-info a:hover {
    text-decoration: underline; 
}


.work-experience-header {
    margin-left: 90px;
    font-size: 8px;  
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 2px;  
}

mat-icon {
    font-size: 3px;  
    margin-right: 5px;  
}

h3, h4 {
    font-size: 3px; 
    margin: 0;
    padding: 0;
    white-space: nowrap;  
}

.horizontal-line {
    height: 0.1px;
    background-color: #507d95;  
    flex-grow: 0.6;
    margin-left: 5px;
    position: relative;
}

.job-item {
    position: relative;
    margin-bottom: 2px; 
}

.job-header {
    margin-top: -10px;
    width: 150px;
    margin-left: 120px;
    font-size: 3px;
    display: flex;
    align-items: center;
}
.work-experiences h4{
    font-size: 3px;
}
.work-experiences p{
    margin-top: -30px;
    font-size: 3px;
    margin-left: 120px;
    line-height: 1;
    width: 180px;
}

.job-title {
    font-size: 3px;
    font-weight: bold;
    margin-right: 5px;  
}

.job-period {
    font-size: 3px;
    font-style: italic;
    white-space: nowrap;
    margin-left: auto;  
}


.job-description {
    font-size: 3px;
    margin: 0;
    padding: 0;
    line-height: 1;  
}


.projects-header {
    display: flex;
    align-items: center;
    font-size: 3px;
    white-space: nowrap;
    margin-bottom: 2px;
}

mat-icon {
    font-size: 2px;
    margin-right: 2px;
}

.projects h3 {
    font-size: 3px;
    flex-grow: 0;
    white-space: nowrap;
}

.horizontal-line {
    height: 0.1px;
    background-color: #507d95;
    flex-grow: 1;
    margin-left: 2px;
    position: relative;
}

.project-header {
    width: 190px;
    margin-left: 120px;
    display: flex;
    justify-content: start;  
    align-items: center;  
    font-size: 3px;
    margin-top: -20px;  
}

.project-title, .project-date {
    white-space: nowrap;  
    margin-right: 5px;  
    font-style: normal;  
    font-size: 3px;  
}

.project-date {
    font-style: italic;
    margin-left: 90px;;  
}


.timeline-content {
    font-size: 3px;
    line-height: 1;
}

.project-description {
    margin-top: -10px;
   font-size: 3px;
   margin-left: 120px;
}

.project-technologies {
    margin-left: 120px;
    margin-top: -10px;
    font-size: 3px;
}


.skills-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;  
}

.skill {
    width: auto;  
    padding: 5px 10px;
    box-sizing: border-box;
}

.skill span:first-child::before {
    content: '•';  
    display: inline-block;
    margin-right: 5px; 
    color: black;
    font-size: 20px; 
    line-height: 1;
}



.education-entry {
    margin-top: -20px;
    margin-left: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 3px;
}

.degree-and-school {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    font-size: 3px;  
}

.degree {
    font-weight: bold;
    white-space: nowrap;  
    flex-grow: 1; 
    margin-right: 5px;
}

.dates {
    font-style: italic;
    white-space: nowrap;  
    margin-left: auto;  
}






.volunteer-header {
    margin-top: -20px;
    width: 190px;
    margin-left: 120px;
    display: flex;
    justify-content: start;  
    align-items: center; 
    font-size: 3px;  
}

.volunteer-header h4 {
    margin-right: 5px;  
    white-space: nowrap;  
    font-weight: bold;  
}
.description {
    margin-left: 120px;
}

.date-and-city {
    font-style: italic;  
    white-space: nowrap;  
    font-size: 3px;  
    margin-left: 70px;  
}




  
  @media print {
    .cv-container {
      box-shadow: none;
      margin: 0;
      page-break-after: always;
    }
  }
  
  @media print {
    .left-column, .right-column, .item {
      page-break-inside: avoid;
    }
  
    .item {
      padding-bottom: 10px;
    }
  
    p, h1, h2, h3, h4 {
      margin: 5px 0;
    }
  
    ul {
      margin: 5px 0;
      padding-left: 20px;
    }
  
    li {
      margin-bottom: 5px;
    }
  }


  

  
  