
<mat-card class="example-card">
    <div class="profile-upload">
        <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*" />
        <mat-icon class="badge-icon" (click)="triggerFileInput()">camera_enhance</mat-icon>
        

        <img [src]="imagePreview" class="profile-picture" (click)="triggerFileInput()" />

    </div>

    <mat-card-header>
        <div class="editable-title-container">
          <mat-card-title>{{ email }}</mat-card-title>
        </div>
      </mat-card-header>

 

    <mat-card-actions>
        <button mat-button (click)="onSubmit()">SAVE</button>
        <button mat-button (click)="deleteProfilePicture()">DELETE</button>
    </mat-card-actions>
</mat-card>


