<div class="chart-container">
    <canvas id="progressChart"></canvas>
    <div class="chart-legend">
      <ul>
        <li><span class="legend-color profile"></span> Targeted jobs 4/10</li>
        <li><span class="legend-color skills"></span> Applied jobs 10/10</li>
        <li><span class="legend-color education"></span> Interviews 5/10</li>
        <li><span class="legend-color work-history"></span> Offers 5/10</li>
        <li><span class="legend-color summary"></span> Rejections 2/10</li>
      </ul>
    </div>
  </div>
  