<div class="chart-container">
    <canvas id="progressChart"></canvas>
    <div class="chart-legend">
      <ul>
        <li><span class="legend-color profile"></span> Profile 9/10</li>
        <li><span class="legend-color skills"></span> Skills 9/10</li>
        <li><span class="legend-color education"></span> Education 9/10</li>
        <li><span class="legend-color work-history"></span> Work History 9/10</li>
        <li><span class="legend-color summary"></span> Summary 9/10</li>
      </ul>
    </div>
  </div>
  