<div class="job-detail-container">
  <div class="sidebar">
  <img [src]="currentImage" alt="Sidebar Image" class="sidebar-image">

    <button mat-raised-button (click)="changeView('general')">
      <mat-icon>business_center</mat-icon> General
    </button>
    <button mat-raised-button (click)="changeView('timeline')">
      <mat-icon>check_box</mat-icon> To Do List
    </button>
    <button mat-raised-button (click)="changeView('documents')">
      <mat-icon>folder</mat-icon> Documents
    </button>
  </div>

  <div class="content">
    <div *ngIf="currentView === 'general'" class="form-container">
      <form [formGroup]="jobDetailsForm" (ngSubmit)="onSubmit()">
        <!-- Row for Job Title and Company -->
        <div class="row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Job Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Company</mat-label>
            <input matInput formControlName="company">
          </mat-form-field>
        </div>

        <!-- Row for Date and Location -->
        <div class="row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
          </mat-form-field>
        </div>

        <!-- Row for Salary, Job Type, and Link -->
        <div class="row">
          <mat-form-field appearance="outline" class="third-width">
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="salary">
          </mat-form-field>

          <mat-form-field appearance="outline" class="third-width">
            <mat-label>Job Type</mat-label>
            <input matInput formControlName="jobType">
          </mat-form-field>

          <mat-form-field appearance="outline" class="third-width">
            <mat-label>Link (URL)</mat-label>
            <input matInput formControlName="link">
          </mat-form-field>
        </div>

        <!-- Full width for Notes -->
        <div class="row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Job Color</mat-label>
            <input matInput placeholder="Color" (click)="openColorPicker()" readonly>
            <span matSuffix class="color-preview" [style.background]="selectedColor"></span>
          </mat-form-field>
        </div>

      

        <div class="actions">
          <button mat-raised-button color="primary" type="submit">Save</button>
          <button mat-button (click)="close()" type="button">Cancel</button>
        </div>
      </form>
    </div>

    <div *ngIf="currentView === 'timeline'" class="content-section">
      <div class="add-button-container">
        <button mat-raised-button color="primary" (click)="openAddActivityDialog()">Add Activity</button>
      </div>
      <div class="activities-container"  (mouseenter)="hovering = true" (mouseleave)="hovering = false">
        <!-- src/app/components/job-details/job-details.component.html -->
        <div *ngFor="let activity of activities" class="activity-item" (click)="openAddActivityDialog(activity)">
          <mat-checkbox class="activity-checkbox" [checked]="activity.checked"
          (click)="$event.stopPropagation()" (change)="toggleChecked(activity)"></mat-checkbox>
          {{ activity.description }} - {{ activity.startDate | date: 'shortDate' }}
          <mat-icon class="trash-icon" (click)="deleteActivity(activity.id); $event.stopPropagation()">delete</mat-icon>
        </div>
        
        
        

      </div>
      
      
    
    </div>

    <div *ngIf="currentView === 'documents'" class="upload-section">
      <h1>Upload documents by clicking on Upload button</h1>
      <div class="upload-container">
        <h2>Upload your resume</h2>
        <div *ngIf="!uploadedFileName; else uploadedTemplate">
          <div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
            <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden accept=".doc, .docx, .pdf, .odt, .html, .rtf, .txt">
            <label for="fileInput">
              Drag & drop your file here or <span class="browse">Browse file</span>
            </label>
          </div>
          <p class="support-text">Support pdf</p>
          <button (click)="uploadPDF()" [disabled]="!fileToUpload">Upload</button>
        </div>
        <ng-template #uploadedTemplate>
          <div class="file-info">
            <mat-icon>picture_as_pdf</mat-icon>
            <div class="file-details">
              <span>{{ uploadedFileName }}</span><br>
              <span>Uploaded on {{ uploadDate | date:'dd/MM/yyyy' }}</span>
            </div>
            <button class="download-button" (click)="downloadFile(uploadedFileName)">Download</button>
            <button class="remove-button" (click)="removeFile()">Delete</button>
          </div>
        </ng-template>
        
      </div>
    </div>
    
      </div>
    </div>
