<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <div class="dashboard-content">
    <header class="dashboard-header">
      <h2>Dashboard</h2>
    </header>

    <div class="main-content">
      <div class="info-container">
        <div class="progress-container">
          <h3>Progress</h3>
          <div class="progress-chart">
            <app-progress-chart></app-progress-chart>
          </div>
        </div>
        <div class="overview-container">
          <h3>Resume Overview</h3>
          <div class="overview-content">
            <div class="overview-item">
              <span class="overview-label">Resume last update:</span>
              <span class="overview-value">June 12, 2023</span>
            </div>
            <div class="overview-item">
              <span class="overview-label">Applied jobs:</span>
              <span class="overview-value">20</span>
            </div>
            <div class="overview-item">
              <span class="overview-label">Interviews:</span>
              <span class="overview-value">05</span>
            </div>
            <div class="overview-item">
              <span class="overview-label">Skill update:</span>
              <span class="overview-value">June 12, 2023</span>
            </div>
            <div class="overview-item">
              <span class="overview-label">Resume views:</span>
              <span class="overview-value">10</span>
            </div>
          </div>
        </div>
      </div>
      
      <mat-tab-group>
        <mat-tab label="Your Resumes">
          <div class="template-container">
            <h3>Your Resumes:</h3>
            <div class="template-wrapper">
              <div *ngFor="let resume of resumes" class="template-preview"  (click)="navigateToCreateResume(resume)">
                <app-dashboard-first-template *ngIf="resume.templateId === 1" [resume]="resume" class="first-template"></app-dashboard-first-template>
                <app-dashboard-second-template *ngIf="resume.templateId === 2" [resume]="resume" class="second-template"></app-dashboard-second-template>
                <app-dashboard-third-template *ngIf="resume.templateId === 3" [resume]="resume" class="third-template"></app-dashboard-third-template>
                <div class="icon-container">
                  <button mat-icon-button aria-label="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Download PDF">
                    <mat-icon>picture_as_pdf</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Duplicate">
                    <mat-icon>file_copy</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
    
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Your Cover Letters">
          <div class="template-container">
            <h3>Your CoverLetters:</h3>
            <div class="template-wrapper">
              <div *ngFor="let letter of letters" class="template-preview">
                <app-dashboard-letter-first *ngIf="letter.templateId === 1" [letter]="letter" class="first-template"></app-dashboard-letter-first>
                <app-dashboard-letter-second *ngIf="letter.templateId === 2" [letter]="letter" class="second-template"></app-dashboard-letter-second>
                <app-dashboard-letter-third *ngIf="letter.templateId === 3" [letter]="letter" class="third-template"></app-dashboard-letter-third>
                <div class="icon-container">
                  <button mat-icon-button aria-label="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Download PDF">
                    <mat-icon>picture_as_pdf</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Duplicate">
                    <mat-icon>file_copy</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
    
              </div>
              
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
