body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-header h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #507d95;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.overview-container {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 50px; 
}

.progress-container{

  flex: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px; 

}

h3 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #507d95; 
}

.progress-chart,
.overview-content {

  display: flex;
}
app-profile-card {
  margin-top: -100px; 
  margin-left: -150px; 
}


.overview-content {
  display: flex;
  flex-direction: column;
}

.overview-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.overview-label {
  font-weight: bold;
  color: #6c757d;
  margin-right: 5px; 

}

.overview-value {
  color: #343a40;
  margin-right: 5px; 

}
.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.overview-content {
  margin-top: 50px;
  flex: 1; 
  display: flex;
  flex-direction: column;
}

app-progress-chart {
  margin-top: 50px;
  width: 300px; 
  height: auto; 
  margin-left: 30px; 

}



.template-container {
  width: 100%; 
  overflow-x: hidden; 
  padding: 20px 0; 
}

.template-wrapper {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 20px; 
}

.template-preview {
  cursor: pointer;
  flex: 0 0 calc(25% - 20px); 
  height: auto; 
  min-height: 300px;
  background-color: #fff; 
  border-radius: 8px; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  transition: transform 0.3s ease; 
}

.template-preview:hover {
  transform: scale(1.05);
  z-index: 10; 
}


.icon-container mat-icon {
  font-size: 24px;
  color:#484444;
  
}



@media (max-width: 1024px) {
  
  .template-preview {
    flex: 0 0 calc(33.333% - 20px); 
  }
}

@media (max-width: 768px) {
  .template-preview {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .template-preview {
    flex: 0 0 100%; 
  }
}

@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
  }
}



