.page-wrapper {
  display: flex;
  flex-direction: row;
  width: 200px; 
  height: 300px;
  margin: auto;
  background: white;
  border: 1px solid #ddd;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftPanel {
  width: 30%; 
  background-color: #484444;
  color: white;
  padding: 5px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  font-size: 5px; 
}

.leftPanel img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 5px; 
  align-self: center; 
}

.details {
  width: 100%;
}

.item, .item-bottomLineSeparator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.smallText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.smallText p {
  display: flex; 
  align-items: center; 
  margin: 0; 
  justify-content: flex-start; 
  margin-top: -15px;
}

.smallText .icon {
  font-size: 5px; 
  margin-right: -15px; 
}

.link-item {
  display: flex;
  justify-content: flex-start; 
  width: 100%; 
  margin-top: -15px;

}

.skill {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  margin-top: -12px;

}

.education-entry {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start; 
}

.education-entry p {
  line-height: 0; 
}


.section-title {
  font-size: 8px; 
  margin-bottom: 1px;
  margin-top: -10px;
}

.rightPanel {
  width: 70%;
  padding: 5px;
  font-size: 5px;
}

.rightPanel h1 {
  font-size: 10px;
  margin-bottom: 0;
}

.rightPanel h2, .rightPanel h3 {
  font-size: 5px;
  margin-top: 0;
}

.about {
  margin-top: 0;
  line-height: 1.1;
}

.work-experience, .projects, .volunteering, .custom-sections-container {
  margin-top: 3px;
}

.job-title h3 {
  font-size: 5px; 
}

h4 { 
  font-size: 4px;
}




 .rightPanel h2, .rightPanel h3 {
  margin-top: -30px;; 
}
.rightPanel p{
  margin-top: -25px;;
}
.work_
{
  margin-top: 20px;
}
.job-title
{
  margin-top: -20px;;
}
.about, .work-experience p, .volunteering p, .custom-sections-container p {
  line-height: 1; 
  font-size: 3px;;
}


.header-container {
  display: flex;
  flex-direction: column;
  align-items: start; 
}

 .header-container h3 {
  margin-top: -20px;
}

.work_{
  margin-bottom: -40px;;
}

.job-title {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  align-items: center; 
}

.job-title h3 {
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 5px; 
}




.work-experience p {
  margin-top: -20px; 
  margin-bottom: 10px; 
  line-height: 1.1; 
}

 .work-experience h4 {
  margin-top: -40px; 
  padding: 0; 
  font-size: 3px;
}

.job-title {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}


.job-title .job-period {
  margin-left: auto; 
  font-size: 3px; 
}

.projects_ {
  margin-top: 20px;
  margin-bottom: 0; 
}

.projects_ h2 {
    font-size: 3px; 
    margin-bottom: 10px; 
}

.project-header {
    margin-bottom: 5px;
}

.project-header h3 {
    margin-bottom: 0; 
    font-size: 3px; 
}

.project-date {
    font-size: 3px; 
    display: block; 
}

.description_proj {
    margin-top: -35px; 
    font-size: 3px; 
}

.project-technologies {
    font-size: 3px;
    margin-top: -20px; 
    margin-bottom: 50px;;
}

.volunteering, .volunteering * {
  font-size: 3px; 
  margin: 0;
  padding: 0;
  line-height: 1; 
}

.volunteering h2 {
  margin-top: -20px;
  margin-bottom: 2px; 
}
.voluntariat{
  margin-top: -70px;
}

.volunteer-header {
  display: flex; 
  flex-direction: column; 
}

.volunteer-header h3 {
  font-size: 3px;;
  margin-top: -40px;
  margin-bottom: 1px;
}
.description-vol{
font-size: 3px;;
}


