<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen" class="sidenav" fixedInViewport="true">
    <div class="sidebar-header">
      <div class="user-info">
        <img src="/assets/logo.png" alt="Image" class="img" routerLink="/welcome">
      </div>
    </div>

    <!-- Content for nav items -->
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/dashboard" matTooltip="Dashboard" matTooltipClass="custom-tooltip">
        <mat-icon>dashboard</mat-icon>
      </a>
      <a mat-list-item routerLink="/resume" matTooltip="CV" matTooltipClass="custom-tooltip">
        <mat-icon>article</mat-icon>
      </a>
      <a mat-list-item routerLink="/projects" matTooltip="Projects" matTooltipClass="custom-tooltip">
        <mat-icon>web</mat-icon>
      </a>
      <a mat-list-item routerLink="/create-coverletter" matTooltip="Cover Letters" matTooltipClass="custom-tooltip">
        <mat-icon>description</mat-icon>
      </a>
      <a mat-list-item routerLink="/calendar" matTooltip="Calendar" matTooltipClass="custom-tooltip">
        <mat-icon>event</mat-icon>
      </a>
      <a mat-list-item routerLink="/courses" matTooltip="Courses" matTooltipClass="custom-tooltip">
        <mat-icon>bookmark</mat-icon>
      </a>
      <a mat-list-item routerLink="/feedback" matTooltip="Feedback" matTooltipClass="custom-tooltip">
        <mat-icon>feedback</mat-icon>
      </a>
      <a mat-list-item routerLink="/settings" matTooltip="Settings" matTooltipClass="custom-tooltip">
        <mat-icon>settings</mat-icon>
      </a>
      <div class="logout-wrapper">
        <a mat-list-item routerLink="/login" matTooltip="Logout" matTooltipClass="custom-tooltip">
          <mat-icon>logout</mat-icon>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button *ngIf="isSmallScreen" (click)="sidenav.toggle()" class="toggle-button">
      <mat-icon>chevron_right</mat-icon>
    </button>
    
   </mat-sidenav-content>
</mat-sidenav-container>
