<app-sidebar></app-sidebar>
<div class="header-container">
    <div class="content-container">
        <div class="text-container">
            <h2>To get started, select a <span>cover letter template</span> below</h2>
        </div>
    </div>
</div>
<div class="carousel-container">
    <button class="button previous" (click)="previous()">❮</button>
    <div class="carousel-slide" *ngFor="let image of images; let i = index" [class.active]="i === currentIndex">
        <img [src]="image.url" [alt]="image.description" (click)="selectAndNavigate(image.templateId)">
    </div>
    
    
    <button class="button next" (click)="next()">❯</button>
</div>

