.content-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px; 
    min-height: 200px; 
}

.loading-dialog p {
    margin-top: 80px;  
    text-align: center;
    color: #507d95;  
    font-size: 16px; 
}


mat-dialog-content {
    display: flex;
    flex-direction: column; 
}

mat-dialog-title {
    font-size: 22px;
    color: #507d95;
}

mat-dialog-actions {
    margin-top: auto; 
    padding: 8px;
    width: 100%; 
    display: flex;
    justify-content: flex-end; 
}

.spinner{
    margin-bottom:50px;
}
